/* Reset some basic elements */
body,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Body styling */
body {
  background-color: #1a1a2e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
}

/* Container for the form */
.container {
  background-color: #16213e;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 70%;
  text-align: center;
}

/* Header styling */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e94560;
  font-weight: bold;
}

/* Grid layout for form fields */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Label styling */
.form-label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
  text-align: center;
}

/* Input field styling */
.form-input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0f3460;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-input:focus {
  outline: none;
  background-color: #1a1a2e;
  box-shadow: 0px 0px 10px rgba(233, 69, 96, 0.7);
}

/* Button styling */
button[type="submit"] {
  background-color: #e94560;
  color: #ffffff;
  padding: 12px 20px;
  margin-top: 5%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  grid-column: span 3;
}

button[type="submit"]:hover {
  background-color: #d83a53;
}

/* Prediction text */
p {
  font-size: 19px;
  margin-top: 25px;
  color: #e94560;
}

.pr {
  font-weight: 700;
  font-size: 28px;
}

/* Responsive design for smaller screens */
@media (max-width: 500px) {
  .container {
    padding: 20px;
  }

  button[type="submit"] {
    width: 10%;
  }
  .form-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  button[type="submit"] {
    width: 100%;
    grid-column: span 1;
  }

  h1 {
    font-size: 20px;
  }
}
